* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

:root {
  --color-primary1: white;
  --color-primary2: black;
  --color-secondary1: #150f2f;
  --color-secondary2: #222;
  --color-accent1: #dfbfd2;
  --color-accent2: #f2e2ec;
}
html {
  font-family: "montserat", sans-serif;
  font-size: 1.2em;
}

/* FONTS*/
h1,
h2,
h3 {
  color: #111;
  font-family: "bebas-neue", serif;
  margin-bottom: 1rem;
}

h1 {
  color: #eee;
  font-size: 4rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.75rem;
  line-height: 3rem;
  margin-bottom: 2rem;
  color: var(--color-secondary2);
}

h3 {
  font-family: "montserat", sans-serif;
  text-transform: uppercase;
  font-size: 1.35rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--color-primary1);
  font-family: "montserat", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

/* HEADER FRONTPAGE */
body {
  margin: 0 auto;
}

/* HEADER TEXT */
.header_text {
  position: absolute;
  width: 65%;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
}

/* HEADER IMG */
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

header img {
  opacity: 95%;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
  color: var(--color-secondary2);
}

/* HEADER BUTTON */
.btn_frontpage {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-secondary2);
  color: var(--color-primary1);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.75rem;
}

@media (min-width: 700px) {
  /* HEADER  */
  header {
    background-color: var(--color-accent1);
  }

  .header {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header_text {
    top: 40%;
    left: 70%;
    max-width: 50vw;
  }

  .btn_frontpage {
    top: 50%;
    margin: 2rem;
  }
}
@media (min-width: 1250px) {
  /* HEADER  */
  .header_text {
    font-size: 3.5rem;
    line-height: 3.5rem;
    top: 65%;
    left: 65%;
    max-width: 70vw;
  }

  .btn_frontpage {
    top: 80%;
    margin: 2rem;
    font-size: 1rem;
    height: 3.5rem;
  }
}
