/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
  margin: 0 auto;
}

/* Fonts */
html {
  font-family: "montserat", sans-serif;
  font-size: 1.2em;
}

:root {
  --color-primary1: white;
  --color-primary2: black;
  --color-secondary1: #150f2f;
  --color-secondary2: #222;
  --color-accent1: #dfbfd2;
  --color-accent2: #f2e2ec;
}

h1,
h2,
h3 {
  color: #111;
  font-family: "bebas-neue", serif;
  margin-bottom: 1rem;
}

h1 {
  color: #eee;
  font-size: 4.25rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 0.5rem;
  color: var(--color-secondary2);
}

h3 {
  font-family: "montserat", sans-serif;
  text-transform: uppercase;
  font-size: 1.35rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: #222;
  font-family: "montserat", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: var(--color-secondary2);
}

a:hover {
  text-decoration: underline;
}

/* UI Elements */
button {
  display: inline-block;
  height: 3rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  background-color: #222;
  color: #eee;
  font-family: "montserat", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.dark_button {
  background-color: var(--color-primary2);
  color: rgb(153, 153, 153);
  width: 13rem;
  place-self: end;
}

.light_button {
  background-color: var(--color-accent1);
  color: white;
  width: 10rem;
  margin: 1rem;
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: #eee;
  border-color: #ddd;
  color: #222;
}

/* Menu */
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary1);
}

nav a {
  color: var(--color-accent2);
  text-decoration: none;
  font-family: "montserat", sans-serif;
  text-transform: uppercase;
}

nav a.logo {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "montserat", sans-serif;
  text-transform: uppercase;
}

nav a.logo:hover {
  text-decoration: none;
}

nav li {
  display: inline-block;
  margin: 0px 1rem;
}

/* Header */
#header_portfolio {
  display: flex;
  min-height: 80vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-secondary1);
}

header p {
  color: var(--color-accent2);
}

#header_portfolio button {
  margin-bottom: 3rem;
  background-color: var(--color-accent1);
  color: var(--color-secondary1);
  padding-bottom: 2.5rem;
  padding: 0px;
  width: 9rem;
}

.portfolio_text {
  width: 30vw;
  min-width: 300px;
  color: var(--color-primary1);
  display: grid;
}

.header_graphics {
  width: 25vw;
  height: 25vw;
  min-width: 400px;
  min-height: 400px;
  background-color: #181616;
  border-radius: 30%;
  padding: 1rem;
  margin-bottom: 1rem;
  margin: 2rem;
}

.header_graphics object {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header_graphics object svg path {
  fill: #f00;
}

/* product section */
#product {
  padding: 5rem 3rem;
  background-color: var(--color-primary1);
}

#product h2 {
  font-size: 3.052rem;
  line-height: 3.5rem;
}

#product article {
  display: flex;
  min-height: 50vh;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#product article:first-child {
  min-height: 40vh;
}

.product_text {
  width: 50vw;
  min-width: 300px;
}

#product article:first-child .product_text {
  width: 75vw;
  min-width: 300px;
}

.product_graphics {
  width: 30vw;
  height: 30vw;
  min-width: 250px;
  min-height: 250px;
  padding: 1rem;
  margin: 3rem;
  background-color: var(--color-accent2);
  border-radius: 300px;
}
.product_graphics object {
  width: 100%;
  height: 100%;
}

#styletile {
  width: 25vw;
  height: 30vw;
  min-width: 250px;
  min-height: 250px;
  border-radius: 0%;
}

/* Highlight section */

.desc {
  font-style: italic;
  font-size: small;
  padding-left: 1rem;
}

.highlight {
  display: grid;
  min-height: 70vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-accent2);
  padding: 5rem;
}

.highlight div h2 {
  font-size: 3.025rem;
  line-height: normal;
}

.dark {
  background-color: #222;
}

.dark h2 {
  color: #eee;
}

.dark a {
  color: #ccc;
}

.container {
  display: flex;
  justify-content: space-between;
}

.text {
  max-width: 55ch;
}

.img #fonts {
  min-height: 300px;
  object-fit: cover;
  width: 100%;
}

.img {
  margin-bottom: 0px;
}

.img p {
  padding: 10px;
}

/* Highlight section 2 */
#highlight_2 {
  background-color: var(--color-secondary1);
}

#highlight_2 p {
  color: var(--color-accent2);
}

#highlight_2 h2 {
  color: white;
}
#highlight_2 h3 {
  color: white;
}

/*CARDS*/
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 3rem;
  margin-bottom: 2rem;
}

#cards img {
  border-radius: 10px 10px 0 0;
}

#cards p {
  font-size: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: black 0px 7px 10px 0px;
  border-radius: 10px;
  min-height: 80vh;
  min-width: 300px;
  justify-content: space-between;
}

.card_text {
  max-width: 40ch;
  text-align: left;
  padding: 10px;
  overflow-wrap: break-word;
}

/* summary section */
#summary {
  display: flex;
  min-height: 50vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-secondary2);
}

#summary div {
  width: 50vw;
  min-width: 300px;
}

#summary p,
h2,
h3 {
  color: white;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--color-secondary1);
  color: #ddd;
}

footer section {
  margin-bottom: 1rem;
}

footer h2,
footer h3 {
  color: #eee;
  margin-bottom: 1rem;
}

footer a {
  color: var(--color-primary1);
}

footer section.left {
  display: flex;
  max-width: 70vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9em;
  }
  h1 {
    font-size: 3.5rem;
  }

  /* product section */
  #product h2 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }

  /* highlight section */
  .highlight div h2 {
    font-size: 2.4rem;
    line-height: 3.5rem;
  }

  .container {
    display: grid;
  }

  /* summary section*/
  #summary h2 {
    font-size: 2.4rem;
  }

  #summary {
    display: grid;
  }

  /* CARDS*/

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  #cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-bottom: 2rem;
  }

  #cards img {
    border-radius: 10px 10px 0 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: black 0px 7px 10px 0px;
    border-radius: 10px;
    min-height: 60vh;
    min-width: 200px;
  }

  .card_text {
    max-width: 40ch;
    text-align: left;
    padding: 10px;
    overflow-wrap: break-word;
  }

  footer {
    display: grid;
  }

  footer section.left {
    display: grid;
  }
}

@media screen and (min-width: 1250px) {
  /*CARDS*/

  #cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 3rem;
    margin-bottom: 2rem;
  }

  .card {
    min-width: 350px;
  }
}

/* DARK THEME */
html[data-theme="dark"] {
  --color-primary1: #757575;
  --color-primary2: #2c2c2c;
  --color-accent2: #caa8c3;
  --color-secondary1: #495c44ae;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 27px;
  background: rgb(255, 255, 255);
  float: right;
  border-radius: 20px;
  position: relative;
}

label:after {
  /* styling for labels - on toggle */
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--color-secondary2);
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  /* conditional check while toggling */
  background: var(--color-secondary2);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  background: rgb(255, 255, 255);
}

label:active:after {
  width: 45px;
}

/* SMILEY ANIMATION */

#smiley {
  margin: 2rem;
}

.stroke_animation {
  stroke-width: 10px;
  stroke: white;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  stroke-dasharray: 10 5;
  animation-name: stroke-animation;
  animation-timing-function: linear;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 20;
  }
}
